@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="page-header">
            <h1>Confirmation page <small>transaction completed</small></h1>
        </div>
        <h2>@ViewBag.Status</h2>
    </div>
</body>
</html>
