<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cielo.webservice.url" value="https://qasecommerce.cielo.com.br/servicos/ecommwsec.do"/>
    <add key="cielo.moeda.id" value="986"/>
    <add key="cielo.idioma.id" value="0"/>
    <add key="cielo.url.retorno" value="http://localhost:29387/"/>
    <add key="cielo.estabelecimento.numero" value="1001734898"/>
    <add key="cielo.estabelecimento.chave" value="e84827130b9837473681c2787007da5914d6359947015a5cdb2b8843db0fa832"/>
  </appSettings>
</configuration>